body {

    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background:
        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)
        ),

        url("https://images.unsplash.com/photo-1496747611176-843222e1e57c?q=80&w=1400");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;

    min-height: 100vh;
}


/* CONTAINER */

.container {

    width: 90%;
    margin: auto;

    padding-top: 40px;

    text-align: center;
}


/* TITLES */

h1 {

    font-size: 64px;

    margin-bottom: 20px;

    letter-spacing: 2px;
}


/* BUTTONS */

button {

    background: rgba(255,255,255,0.1);

    border: 1px solid rgba(255,255,255,0.3);

    backdrop-filter: blur(12px);

    color: white;

    padding: 14px 28px;

    margin: 10px;

    border-radius: 14px;

    cursor: pointer;

    font-size: 16px;

    transition: 0.3s;
}

button:hover {

    background: rgba(255,255,255,0.25);

    transform: scale(1.05);
}


/* FORMS */

form {

    width: 400px;

    margin: auto;

    padding: 35px;

    border-radius: 24px;

    background: rgba(0,0,0,0.45);

    backdrop-filter: blur(14px);

    box-shadow: 0 10px 35px rgba(0,0,0,0.4);
}


/* INPUTS */

input,
select {

    width: 92%;

    padding: 13px;

    margin-top: 10px;
    margin-bottom: 18px;

    border: none;

    border-radius: 12px;

    background: rgba(255,255,255,0.12);

    color: white;

    font-size: 15px;
}

input::placeholder {

    color: rgba(255,255,255,0.7);
}


/* OUTFIT CARDS */

.outfit-card {

    width: 340px;

    margin: 30px auto;

    padding: 25px;

    border-radius: 24px;

    background: rgba(0,0,0,0.5);

    backdrop-filter: blur(12px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}


/* IMAGES */

.outfit-img {

    width: 260px;

    height: 260px;

    object-fit: contain;

    border-radius: 20px;

    background: white;

    margin-bottom: 15px;
}


/* HOME */

.home-page {

    min-height: 100vh;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 60px;
}

.left-side {

    width: 45%;
}

.left-side h1 {

    font-size: 78px;
}

.left-side p {

    font-size: 22px;

    color: rgba(255,255,255,0.8);

    line-height: 1.5;
}

.right-side {

    display: flex;

    flex-direction: column;

    gap: 25px;
}

.home-img {

    width: 360px;

    height: 460px;

    object-fit: cover;

    border-radius: 30px;

    box-shadow: 0 10px 35px rgba(0,0,0,0.5);
}

.home-img.small {

    height: 240px;
}
