<!DOCTYPE html>
<html>

<head>

    <title>Outfit Planner</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Outfit Planner</h1>

        <a href="/add">
            <button>Add Outfit</button>
        </a>

        <a href="/outfits">
            <button>View Outfits</button>
        </a>

        <a href="/filter">
            <button>Filter Outfits</button>
        </a>

        <a href="/recommend">
            <button>Choose Outfit</button>
        </a>
        
    </div>

</body>

</html>