<!DOCTYPE html>
<html>
<head>
    <title>Recommend Outfit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">

        <h1>Choose Outfit</h1>
        <a href="/">
            <button>Home</button>
        </a>

        <form method="POST">

            <select name="event">
                <option {% if selected_event == "University" %}selected{% endif %}>University</option>
                <option {% if selected_event == "Work" %}selected{% endif %}>Work</option>
                <option {% if selected_event == "Party" %}selected{% endif %}>Party</option>
                <option {% if selected_event == "Walk" %}selected{% endif %}>Walk</option>
            </select>

            <select name="weather">
                <option {% if selected_weather == "Sunny" %}selected{% endif %}>Sunny</option>
                <option {% if selected_weather == "Rainy" %}selected{% endif %}>Rainy</option>
                <option {% if selected_weather == "Cold" %}selected{% endif %}>Cold</option>
                <option {% if selected_weather == "Hot" %}selected{% endif %}>Hot</option>
            </select>

            <button type="submit">Recommend</button>

        </form>

        {% if outfit %}
            <div class="outfit-card">
                {% if outfit.image %}
                    <img src="{{ url_for('static', filename='uploads/' + outfit.image) }}"
                        class="outfit-img">
                {% endif %}
                <h2>Recommended Outfit</h2>
                <p><b>Style:</b> {{ outfit.style }}</p>
                <p><b>Top:</b> {{ outfit.top }}</p>
                <p><b>Bottom:</b> {{ outfit.bottom }}</p>
                <p><b>Shoes:</b> {{ outfit.shoes }}</p>
                <p><b>Event:</b> {{ outfit.event }}</p>
                <p><b>Weather:</b> {{ outfit.weather }}</p>
            </div>
        {% endif %}

    </div>
</body>
</html>
